{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static', filename='login.png') }}" style="width: 100%; height:100%"/>
            </div>
            <div class="col">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 text-center" style="color:#fea150; font-weight: bold">Welcome Back</legend>
                        <div class="form-group mb-4">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group mb-4">
                            {{ form.password.label(class="form-control-label") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-check mb-4">
                            {{ form.remember(class="form-check-input")}}
                            {{ form.remember.label(class="form-check-label")}}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                {{ form.submit(class="btn btn-outline-info button-17") }}
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                    
                </form>
            </div>
                <div class="row border-top pt-3">
                    <div class="col"></div>
                    <div class="col">
                        <div class="">
                            <small class="text-muted text-center">
                                Need An Account? <a class="ml-2" href="{{ url_for('auth.register') }}" style="text-decoration: none;color:#fea150">Get Started</a> | <small class="text-muted ml-2">
                                    <a href="#" style="text-decoration: none;color:#fea150">Forgot Password?</a>
                                </small>
                            </small>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
        </div>
    </div>
{% endblock content %}