{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col">
            <div class="content-section" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 text-center">PITCH UP</legend>
                        <div class="form-group mb-2">
                            {{ form.category.label(class="form-control-label") }}
                            {% if form.category.errors %}
                                {{ form.category(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.category.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.category(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group mb-2">
                            {{ form.content.label(class="form-control-label") }}
                            {% if form.content.errors %}
                                {{ form.content(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.content.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.content(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                       
                    </fieldset>
                    <div class="form-group">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                {{ form.submit(class="btn btn-outline-info button-17") }}
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
        
{% endblock content%}
